/* #region RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* #endregion RESET */
body{
    overflow: hidden;
}
ul{
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    justify-content: center;
}
ul a{
    font-size: 40px;
    transition: 0.4s ease;
}
a:hover{
    transform: scale(1.5);
    font-size: 45px;
    color: darkred;
    margin: 15px 0;
}