<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <link rel="stylesheet" href="./css/style.css">
    <title>Vue Email List</title>
</head>
<body>
    <!-- Vue-JS HTML Container -->
    <div id="app">
        <ul v-if="emailsArray.length === 10" class="email-list">
            <a v-for="email in emailsArray">{{email}}</a>
        </ul>
    </div>
    <!-- /Vue-JS HTML Container -->
    <!-- Vue-JS Script -->
    <script src="https://unpkg.com/vue@3"></script>
    <!-- /Vue-JS Script -->
    <!-- MyJavascript -->
    <script type="text/javascript" src="./js/script.js"></script>
    <!-- /MyJavascript -->
</body>
</html>